body {
    background-color: #ececec;
    margin: 0;
}

.containerMain {
    display: grid;
    grid-template-rows: 20rem 30rem 30rem 8rem;
    grid-template-columns: 2fr 10fr 10fr 2fr;
    grid-gap: 1rem;
    grid-template-areas: 
        "header"
        "section-1"
        "section-2"
        "footer"
    ;
    justify-items: center;

}

.item-1 {
    grid-row: span 1;
    grid-column: 2 / 4;
}

.item-2 {
    grid-row: span 1;
    grid-column: 2 / 4;
}
.item-3 {
    grid-row: span 1;
    grid-column: 2 / 4;
}
.item-4 {
    grid-row: span 1;
    grid-column: 2 / 4;
}


/* grid areas */


section {
    margin: auto;
}

header {
    /* display: flex; */
    margin: 3rem auto 0;
}

h1 {
    margin: auto;
    font-family: "Lucida Console", monospace;
}

h2, h3, h4 {
    font-family: "Lucida Console", monospace;
    margin-bottom: 2rem;
}

p {
    font-family: "Courier New", monospace;
}

img {
    height: 20rem;
}

.textLeft {
    line-height: 1.3rem;
    font-weight: 520;
    font-size: 1rem;
    text-align: left;
    width: 50%;
}

.textRight {
    line-height: 1.3rem;
    font-weight: 520;
    font-size: 1rem;
    text-align: right;
    width: 50%;
}

a{
    color: #203354;
    font-size: 1.2rem;
    margin: 1rem;
}

.roundImage {
    border-radius: 16rem;
    height: 16rem;
    border-style: groove;
}

.roundedBorder {
    border-radius: 2rem;
    border-style: groove;
}

.flexHorizontal {
    display: flex;
    justify-content: space-between;
}

.flexVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h5 {
    font-family: "Courier New", monospace;
    width: 16rem;
    text-align: center;
}

h4 {
    color: white;
}

ul a{
    color: white;
}

.wiki {
    width: 12rem;
    margin: 2rem auto;
    background-color: coral;
    color: white;
    font-weight: 600;
    font-family: "Courier New", monospace;
    padding: 1.2rem;
    text-decoration: none;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #203354;
}